<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wellness Wave</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;0,6..12,800;1,6..12,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/style.css">

  
</head>
<body>
  <main class="main-left-plus-right-side-container">
    <section class="left-side-section">
      <header class="Page-Header">
        <nav class="landing-page-header-nav">
          <img>
          <p>Wellness Wave</p>
          <a href="#">About</a>
          <a href="#">Contact us</a>
        </nav>
      </header>
      <div class="left-side-container">
        <img>
        <h1>Simplify your fitness journey</h1>
        <p>Ride the Wellness Wave: Where Health Meets Happiness!</p>
      </div>
    </section>
    <section class="page-right-section">
      <div class="right-side-conainter">
        <div class="login-container">
          <h3>Login to Your Account</h3>
          <p>Let’s make some progress</p>
        
          <!-- Continue with Google button -->
          <button class="google-login">Continue with Google</button>
        
          <!-- Or Sign in with Email -->
          <p class="separator">------------- or Sign in with Email ------------- </p>
        
          <!-- Email input -->
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        
          <!-- Password input -->
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        
          <!-- Forgot Password? -->
          <div class="forgot-password">
            <div class="remember-me-checkbox">
              <input type="checkbox" id="remember-me" required>
              <label for="remember-me">Remember me</label>
            </div>
            <a href="#">Forgot Password?</a>
          </div>
        
          <!-- Login button -->
          <button class="login-button">Login</button>
        </div>
        
      </div>
    </section>
  </main>
</body>
</html>