<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - Wellness Wave</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,700&family=Inter:wght@400;500;600;700&family=Istok+Web&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&family=Poppins:wght@400;700&family=Roboto:wght@100;400&family=Source+Sans+3&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <header>
            <!-- Mobile Header -->
            <section class="mobile-header">
                <a href="index.html"
                    ><img src="/images/logo.png" alt="wellness wave logo"
                /></a>
                <img src="/images/hamburger-menu.svg" alt="hamburger menu" />
            </section>

            <!-- Mobile Menu -->
            <div id="mobile-menu">
                <!-- Mobile menu links go here -->
            </div>

            <!-- Desktop Header -->
        </header>

        <section class="login-section">
            <div class="left-side-container">
                <nav class="desktop-header">
                    <ul>
                        <li class="logo">
                            <a href=""
                                ><img src="/images/logo.png" alt="Logo"
                            /></a>
                        </li>
                        <li><a href="">Wellness Wave</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </nav>
                <!-- <img src="images/jumprope.svg" alt="jump roping person" /> -->
                <div class="landing-page-img-container">
                    <div class="landing-page-img"></div>
                    <h1>Simplify Your Fitness Journey</h1>
                    <p>Ride the Wellness Wave: Where Health Meets Happiness!</p>
                </div>
            </div>
            <div class="right-side-container">
                <div class="login-side">
                    <h1>Login to your Account</h1>
                    <span class="header-detail">Let's make some progress</span>
                    <div>
                        <div class="right-side-img"></div>
                    </div>
                    <div class="or-container">
                        <span class="or-divider"></span>
                        <span class="or-text">Start Today</span>
                        <span class="or-divider"></span>
                    </div>
                    <a href="http://localhost:3000/login" class="button__login"
                        >Login</a
                    >
                    <!-- <button type="submit">Login</button> -->
                </div>
            </div>
        </section>
    </body>
</html>
