<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wellness Wave - Profile</title>
    </head>
    <body>
        <nav class="desktop-header">
            <ul>
                <li class="logo">
                    <a href=""><img src="/images/logo.png" alt="Logo" /></a>
                </li>
                <li><a href="/">Wellness Wave</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="/logout/">Log Out</a></li>
            </ul>
        </nav>
        <h1>Profile page</h1>
    </body>
</html>
