/* Base styles */

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 1rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Mobile Header  */

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.mobile-header a {
    width: 60px;
}

/* Desktop Header */

.desktop-header {
    padding: 2rem;
    background-color: #c2e7ff;
    border-top-left-radius: 10px;
}

/* .desktop-header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    transition: all 0.2s;
    white-space: nowrap;
} */

/* .desktop-header a:hover {
    color: rgb(150, 150, 150);
} */

.desktop-header ul {
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: flex-start;
    font: bold;
}

.logo {
    width: 55px;
}

.landing-page-img {
    /*for mobile it's the jumprope*/
    background-image: url("/images/jumprope.svg");
}

/* Login Section Majority Mobile (some generic styling that rolls over) */

.header-detail {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.google-signin-button {
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    color: #808080;
    justify-content: center;
    align-items: center;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    gap: 1rem;
    font-weight: 500;
}

.google-signin-button img {
    width: 25px;
}

.google-signin-button + span {
    color: #808080;
    margin: 3rem 0 3rem 0;
}

.or-container {
    display: flex;
    align-items: center;
    color: #555;
    margin: 1rem 0 1rem 0;
}

.or-text {
    font-size: 1.6rem;
    color: #808080;
    padding: 1rem;
}

.or-divider {
    width: 100px;
    height: 1px;
    background-color: #808080; /* Adjust the color as needed */
}

.login-side {
    width: 85%;
    margin: 0 auto;
}



.button__login:hover {
    background-color: var(--buttons-color-hover);
}

.forget-pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forget-pass div ~ div {
    color: #4299e1;
}

.new-member {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.email {
    background-image: url("/images/icons/email.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 10px center;
}

.password {
    background-image: url("/images/icons/lock.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 10px center;
}

.div__about_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.div__vertical_half {
    align-items: center;
    text-align: center;
    width: 50%;
}

.div__vertical_half img {
    width: 60%;
}

/* Example media query for smaller screens */
@media (max-width: 1024px) {
    .desktop-header {
        display: none;
    }
}

/* Example media query for larger screens */

@media (min-width: 1024px) {
    .mobile-header {
        display: none; /* Hide the mobile menu for screens wider than 1024 pixels */
    }

    .desktop-menu {
        display: flex; /* Show the desktop menu for screens wider than 1024 pixels */
    }

    .login-section {
        display: flex;
        height: 100vh;
        overflow: hidden;
        /* flex: 1; */
    }

    .desktop-split-view {
        display: flex;
    }

    .left-side-container {
        background-color: var(--background-color);
        flex: 0 0 55%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin: 10px;
    }

    .login-side {
        flex: 0 0 25%; /* 25% width for form-side */
    }

    .image-side img {
        width: 100%;
    }

    .landing-page-img-container {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing-page-img,
    .about-page-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70%;
        width: 100%;
    }

    .landing-page-img {
        background-image: url("/images/exercise-workout.svg");
    }

    .about-page-img {
        background-image: url("/images/about-checklist.svg"); /*for desktop it's the running dude*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 50%;
        width: 100%;
    }

    .right-side-container {
        height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-side-img {
        background-image: url("/images/login-auth.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 400px;
        width: 400px;
        border-radius: 10px;
    }
}
