
/* typography.css: Styles related to fonts and text.*/

h1 {
  color: #373947; 
  font-size: 40px; 
  font-family: Nunito Sans; 
  font-weight: 800; 
  word-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
}
p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #373947; 
  font-size: 25px; 
  font-family: Nunito Sans; 
  font-weight: 600; 
}
a {
  text-decoration: none;
  
}
.landing-page-header-nav * {
  color: #373947; 
  font-size: 32px; 
  font-family: Nunito Sans; 
  font-weight: 700; 
  white-space: nowrap;
}